body {
    background: #fff;
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif !important;
    /*font-family: Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;*/
    text-align:left !important;
}

.mainHeader {
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif, cursive;
    color: white;
    background-color: #3465a4;
    /*background-image :url(../images/header.gif); */
    background-repeat: no-repeat;
    background-position: top right;
}
.mainHeaderTitle {
    font-weight: bold;
    font-size: 24px;
}
.mainHeaderSubtitle {
    font-size: 10px;
}

.mainFooter {
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif, cursive;
    font-weight: bold;
    font-size: 10px;
    color: white;
    background-color: #3465a4;
    text-align: center;
    /*background-image:url(images/istsos.png); 
    background-repeat: no-repeat;
    background-position: 0 0;*/
}

.menuHead {
    /*font-family: 'Patrick Hand', cursive;*/
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif, cursive;
    font-weight: bold;
    font-size: 18px;
    color: #3465a4;
}

.menuLink {
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif, cursive;
    font-size: 16px;
    color: #3465a4;
    text-decoration: underline;
    cursor: pointer;
}


.centerTitle {
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: red;
    border-right: 0;
    border-bottom: 0;
    border-top: 0;
    border-color: #3465a4;
}

.centerBody {
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif;
    font-size: 16px;
    color: #3465a4;
    border-right: 0;
    border-bottom: 0;
    border-color: #3465a4;
}

.x-form-item {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border-right: inherit;
    border-bottom: inherit;
    border-color: inherit;
}

.x-btn-inner {
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif !important;
    font-size: 16px !important;
}

.x-fieldset-header {
    font-family: 'Nova Square', Tahoma, "Lucida Sans Unicode", "Lucida Grande", Verdana, sans-serif !important;
    font-size: 11px !important;
    color: #3465a4;
}
.x-fieldset {
    border: 1px solid #3465a4 !important;
}
