<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>GeoShield</display-name>
    <filter>
        <filter-name>UserShiled</filter-name>
        <filter-class>ch.supsi.ist.geoshield.shields.UserShield</filter-class>
    </filter>
    <filter>
        <filter-name>WfsShield</filter-name>
        <filter-class>ch.supsi.ist.geoshield.wfs.WFSShield</filter-class>
    </filter>
    <filter>
        <filter-name>WmsShield</filter-name>
        <filter-class>ch.supsi.ist.geoshield.wms.WMSShield</filter-class>
    </filter>
    <filter>
        <filter-name>WfsButler</filter-name>
        <filter-class>ch.supsi.ist.geoshield.wfs.WfsButler</filter-class>
    </filter>
    <filter>
        <filter-name>SOSShield</filter-name>
        <filter-class>ch.supsi.ist.geoshield.shields.sos.SOSShield</filter-class>
    </filter>
    <filter>
        <filter-name>WmsButler</filter-name>
        <filter-class>ch.supsi.ist.geoshield.wms.WmsButler</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SOSShield</filter-name>
        <url-pattern>/sos/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserShiled</filter-name>
        <url-pattern>/wms/*</url-pattern>
        <url-pattern>/wfs/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WmsButler</filter-name>
        <url-pattern>/wms/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WfsButler</filter-name>
        <url-pattern>/wfs/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WmsShield</filter-name>
        <url-pattern>/wms/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WfsShield</filter-name>
        <url-pattern>/wfs/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>UserAccountCtr</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.servlet.admin.UserAccountCtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupAccountCtr</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.servlet.admin.GroupAccountCtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesManagerCtr</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.servlet.admin.ServicesManagerCtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LayersManagerCtr</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.servlet.admin.LayersManagerCtr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.servlet.apps.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.servlet.apps.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WFSProxy</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.wfs.WFSProxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WMSProxy</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.wms.WMSProxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SOSProxy</servlet-name>
        <servlet-class>ch.supsi.ist.geoshield.sos.SOSProxy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccountCtr</servlet-name>
        <url-pattern>/admin/admin/UserAccountCtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupAccountCtr</servlet-name>
        <url-pattern>/admin/admin/GroupAccountCtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesManagerCtr</servlet-name>
        <url-pattern>/admin/admin/ServicesManagerCtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LayersManagerCtr</servlet-name>
        <url-pattern>/admin/admin/LayersManagerCtr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WFSProxy</servlet-name>
        <url-pattern>/wfs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WMSProxy</servlet-name>
        <url-pattern>/wms/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SOSProxy</servlet-name>
        <url-pattern>/sos/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Geoshield Control Panel</display-name>
        <web-resource-collection>
            <web-resource-name>Administration</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>HEAD</http-method>
            <http-method>PUT</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>geoshield</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>Geoshield</realm-name>
    </login-config>
    <security-role>
        <description/>
        <role-name>geoshield</role-name>
    </security-role>
</web-app>
